{
  "root": true,
  "plugins": ["@typescript-eslint", "import"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": "typescript"
  },
  "parserOptions": {
    "project": ["tsconfig.json", "generator/tsconfig.json"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "eqeqeq": "error",
    // fixes
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    // off
    "no-inner-declarations": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-var-requires": "off",
    // modifications/weakening
    "@typescript-eslint/no-inferrable-types": [
      "warn", {
        "ignoreProperties": true,
        "ignoreParameters": true
      }
    ],
    "no-constant-condition": [
      "error", {
        "checkLoops": false
      }
    ],
    "prettier/prettier": "warn",
    // on
    "no-template-curly-in-string": "error",
    "no-lonely-if": "error",
    "eslint-comments/no-unused-disable": "error",
    "eslint-comments/disable-enable-pair": [
      "error", {
        "allowWholeFile": true
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "error"
  }
}
